<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page_styles.css')}}">
    <script>
        function goToSignUp() {
            window.location.href = "{{ url_for('signup')}}"
        }

        function underMaintainsMessage() {
            alert("This function is under maintenance. Try again later.")
        }
    </script>
</head>
<body>
    <form action="{{ url_for('handle_login') }}" method="post">
        <h2>Log in</h2>
        <hr>
        <input type="text" name="contact" placeholder="Username or Email" requeird>
        <input type="password" name="password" placeholder="password" requeird>
        <button type="submit">Continue</button>
        <div class="divider">or</div>
        <button class="social-button" onclick="underMaintainsMessage()">
            <img src="{{ url_for('static', filename='google_logo.png') }}" alt="Google Logo" > Continue with Google
        </button>
        <p>Don't have an account?</p>
        <button type="button" onclick="goToSignUp()">Sign Up</button>
    </form>
</body>
</html>